doctype html
html
	head(lang="en")
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		title RiotGear Paper Input Demo
		style.
			body {
				padding-top: 150px;
				text-align: center;
			}
	body

	rg-paper-input

	script(src="../bower_components/riot/riot.min.js")
	script(src="../dist/rg-paper-input.min.js")

	script.
		riot.mount('rg-paper-input');
