rg-paper-input(label="{label}")
	rg-paper-input-container
		label label
		input

	.underline-container
		.unfocused-line
		.focused-line

	link(href="rg-paper-input.css", rel="stylesheet")
	script(src="rg-paper-input.js")
